<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout" th:with="secao='Home'">
	
<body> 
	
	<ol class="breadcrumb" layout:fragment="breadcrumb">
		<li>Acesso não autorizado</li>
	</ol>

	<div layout:fragment="content">
		
		<!-- row -->
				<div class="row">
				
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
						<div class="row">
							<div class="col-sm-12">
								<div class="text-center error-box">
									<h1 class="error-text-2 bounceInDown animated">Acesso Negado!!</h1>
									<h2 class="font-xl"><strong><i class="fa fa-fw fa-ban fa-lg text-danger"></i> Você <u>não</u> esta autorizado a acessar este recurso</strong></h2>
									<br />
									<p class="font-md">
										<b>Contate o administrador do sistema</b>
									</p>
								</div>
							</div>
						</div>
					</div>
				<!-- end row -->

			</div>
		
					
	</div>
</body>
	
	
	
</html>