<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout" th:with="secao='Home'">

<div class="my-3 my-md-5" layout:fragment="content">

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Cadastro de Veiculos</h3>
			<div class="card-options">
			  <a th:href="@{/veiculo/pdf}" class="btn btn-red">Listar em PDF</a>
			  <a th:href="@{/veiculo/novo}" class="btn btn-success btn-sm ml-2"><i class="fe fe-plus"></i>Novo Veiculo</a>
			</div>
		</div>
		
		<div class="table-responsive">
			<table class="table table-striped card-table table-vcenter text-nowrap">
				<thead>
					<tr>
						<th class="w-1">ID.</th>
						<th class="w-1">Placa</th>
						<th>Modelo</th>
						<th>Chassi</th>
						<th>KM Rodados</th>
						<th>Vencimento Seguro</th>
						<th>Disponivel</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="v : ${listagem}">
						<td th:text="${v.id}"></td>
						<td th:text="${v.placa}"></td>
						<td th:text="${v.modelo}"></td>
						<td th:text="${v.chassi}"></td>
						<td th:text="${v.kmRodados}"></td>
						<td th:text="${v.vencimentoSeguro}"></td>
						<td th:text="${v.disponivel==true} ? 'Sim' : 'Nao'" />
						<td class="text-right">
							<a class="icon" th:href="@{/veiculo/edit/{id}(id=${v.id})}"> 
								<i class="fe fe-edit"></i>
							</a>
							<a class="icon" th:href="@{/veiculo/delete/{id}(id=${v.id})}"> 
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${listagem.size() == 0}">
						<td colspan="2" th:text="#{tabela.nenhum.registro}"> </td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>

</div>


</html>