<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<a class="header-brand" href="./index.html"> Sistema de Frete </a>
			<div class="d-flex order-lg-2 ml-auto">
				<div class="dropdown d-none d-md-flex">
					<a class="nav-link icon" data-toggle="dropdown"> <i
						class="fe fe-bell"></i> <span class="nav-unread"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
						<a href="#" class="dropdown-item d-flex"> <span
							class="avatar mr-3 align-self-center"
							style="background-image: url(demo/faces/male/41.jpg)"></span>
							<div>
								<strong>Novo frete disponivel</strong> clique para checar detalhes.
								<div class="small text-muted">10 minutos atras</div>
							</div>
						</a> 
						
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item text-center text-muted-dark">Marcar todas notificacoes como lidas</a>
					</div>
				</div>
				<div class="dropdown">
					<a href="#" class="nav-link pr-0 leading-none"
						data-toggle="dropdown"> <span class="avatar"
						style="background-image: url(./images/avatars/1.png)" ></span> <span
						class="ml-2 d-none d-lg-block"> <span class="text-default">Maria 
								Ferreira</span> <small class="text-muted d-block mt-1">Administrador de Frete II</small>
					</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
						<a class="dropdown-item" href="#"> <i
							class="dropdown-icon fe fe-user"></i> Perfil
						</a> <a class="dropdown-item" href="#"> <i
							class="dropdown-icon fe fe-settings"></i> Configuracoes
						</a> <a class="dropdown-item" href="#"> <span class="float-right"><span
								class="badge badge-primary">6</span></span> <i
							class="dropdown-icon fe fe-mail"></i> Inbox
						</a> <a class="dropdown-item" href="#"> <i
							class="dropdown-icon fe fe-send"></i> Mensagens
						</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#"> <i
							class="dropdown-icon fe fe-help-circle"></i> Precisa de Ajuda?
						</a> <a class="dropdown-item" href="#"> <i
							class="dropdown-icon fe fe-log-out"></i> Sair
						</a>
					</div>
				</div>
			</div>
			<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0"
				data-toggle="collapse" data-target="#headerMenuCollapse"> <span
				class="header-toggler-icon"></span>
			</a>
		</div>
	</div>
</div>