<input type="text" class="form-control" th:field="*{id}" />

<div class="card-body">
	<h3 class="card-title">Usuario</h3>
	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				<label class="form-label">Nome</label> <input type="text"
					class="form-control" placeholder="Nome" th:field="*{nome}" />
			</div>
		</div>
		<div class="col-sm-6 col-md-3">
			<div class="form-group">
				<label class="form-label">Email</label>
				<input type="email" class="form-control" placeholder="Email" th:field="*{email}" />
			</div>
		</div>

	</div>
</div>
<div class="card-footer text-right">
	<button type="submit" class="btn btn-primary">Salvar</button>
</div>